/*FOONTS*/
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

font-family: 'Poppins', sans-serif; 
*/

$font-primary:'Poppins', sans-serif;
$font-size:16px;
$font-weigth-regular:400;
$font-weigth-semibold:600;
$font-weigth-bold:700;

/*Colors*/

$primary-color-gold:#FFB742;
$primary-color-blue1:#393646;
$primary-color-blue2:#4F4557;
$primary-color-blue3:#6D5D6E;
$primary-color-white:#FFF;;